<a href="https://colab.research.google.com/github/chutimaq/bsc_dpdm22/blob/main/%5Bdataprep1%5D_property_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd

#สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [3]:
home= pd.read_excel('/content/gdrive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน')
home.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN

In [4]:
ass1 = home[home['ID ผู้ประเมิน']==1]
ass1.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

In [5]:
ass1.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

In [6]:
ass1['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [7]:
ass1['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [8]:
ass2 = home[home['ID ผู้ประเมิน']==2]
ass2.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN

In [9]:
ass2.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

In [10]:
ass2['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [11]:
ass2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

##HW1 เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขาย ใช้ MAPE เป็นเกณฑ์ในการเปรียบเทียบ

###Home

In [12]:
ass2['ประเมิน1'] = ass2['post id'].map(ass1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
ass2

<ipython-input-12-91656c2d09a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2['ประเมิน1'] = ass2['post id'].map(ass1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0

In [13]:
ass2['ประเมิน2'] = ass2['post id'].map(ass2.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
ass2

<ipython-input-13-0dca72d2c29e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2['ประเมิน2'] = ass2['post id'].map(ass2.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0,2700000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2200000.0,2400000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,5000000.0,9000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3500000.0,3700000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,https://nayoo.co/khonkaen/posts/19495,บ้านเดี่ยว,มั่นใจ,5500000.0,5000000.0,"ราคาเสนอขาย 20,000-30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4500000.0,5000000.0
186,2,https://nayoo.co/khonkaen/posts/19496,บ้านเดี่ยว,มั่นใจ,7911000.0,7400000.0,"ราคาเสนอขาย 20,000 - 30,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,5200000.0,7400000.0
187,2,https://nayoo.co/khonkaen/posts/20,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3600000.0,2500000.0
188,2,https://nayoo.co/khonkaen/posts/31,บ้านเดี่ยว,มั่นใจ,4000000.0,3900000.0,ราคาเสนอขาย 3.5-4.0ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,4000000.0,3900000.0
189,2,https://nayoo.co/khonkaen/posts/570,บ้านเดี่ยว,มั่นใจ,1375000.0,1400000.0,ราคาเสนอขาย 1.2-1.5 ล้านบาท/หลัง,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,1200000.0,1400000.0

In [14]:
ht = ass2[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
ht

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                     ...         ...        ...        ...
185  https://nayoo.co/khonkaen/posts/19495   5500000.0  4500000.0  5000000.0
186  https://nayoo.co/khonkaen/posts/19496   7911000.0  5200000.0  7400000.0
187     https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188     https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189    https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[90 rows x 4 columns]

In [15]:
ht.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2       True
dtype: bool

In [16]:
ht = ht.fillna(value={'ประเมิน2':ass2['ประเมิน2'].mean()})
ht

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1       https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3       https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5      https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7      https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9      https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0
..                                     ...         ...        ...        ...
185  https://nayoo.co/khonkaen/posts/19495   5500000.0  4500000.0  5000000.0
186  https://nayoo.co/khonkaen/posts/19496   7911000.0  5200000.0  7400000.0
187     https://nayoo.co/khonkaen/posts/20   2000000.0  3600000.0  2500000.0
188     https://nayoo.co/khonkaen/posts/31   4000000.0  4000000.0  3900000.0
189    https://nayoo.co/khonkaen/posts/570   1375000.0  1200000.0  1400000.0

[90 rows x 4 columns]

In [17]:
ht.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

#### MAPE

In [18]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [19]:
ac = ht['ราคาทรัพย์']
pr1 = ht['ประเมิน1']
pr2 = ht['ประเมิน2']

In [20]:
pred1 = mape(ac, pr1)
pred2 = mape(ac, pr2)
mape_h = mape(pr1,pr2)

In [21]:
print(f'ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ {pred1:.3f}\nค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ {pred2:.3f}\nค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ {mape_h:.3f}')

ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ 0.123
ค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ 0.105
ค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ 0.136

### Land

In [22]:
land= pd.read_excel('/content/gdrive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน')
land.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN

In [23]:
land['ID ผู้ประเมิน'].value_counts()

1    100
2    100
4     10
Name: ID ผู้ประเมิน, dtype: int64

In [24]:
ass1_l = land[land['ID ผู้ประเมิน']==1]

In [25]:
ass2_l = land[land['ID ผู้ประเมิน']==2]

In [26]:
ass2_l['ประเมิน1'] = ass2_l['post id'].map(ass1_l.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
ass2_l

<ipython-input-26-5595cb6c0e4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_l['ประเมิน1'] = ass2_l['post id'].map(ass1_l.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0

In [27]:
ass2_l['ประเมิน2'] = ass2_l['post id'].map(ass2_l.set_index('post id')['ประเมินราคาซื้อ-ขาย']);
ass2_l

<ipython-input-27-62c51c339074>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_l['ประเมิน2'] = ass2_l['post id'].map(ass2_l.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมิน1,ประเมิน2
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,1800000.0,2000000.0
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0,12000000.0
7,2,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,70000000.0,"30,000-40,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0,70000000.0
10,2,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,60000000.0,"ราคาเสนอขาย 12,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0,60000000.0
13,2,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2500000.0,"ราคาเสนอขาย 2,000 - 4,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,2,https://nayoo.co/khonkaen/posts/14539,ที่ดิน,มั่นใจ,5000000,4000000.0,"ราคาเสนอขาย 8,000 - 10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,4000000.0,4000000.0
202,2,https://nayoo.co/khonkaen/posts/16072,ที่ดิน,มั่นใจ,750000,750000.0,"ราคาเสนอขาย 7,000-8,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,500000.0,750000.0
204,2,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2000000.0,2500000.0
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1500000.0,1500000.0
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,2500000.0,2800000.0

In [28]:
lt = ass2_l[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
lt

                                   post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4     https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7     https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10    https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13    https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0
..                                     ...         ...         ...         ...
200  https://nayoo.co/khonkaen/posts/14539     5000000   4000000.0   4000000.0
202  https://nayoo.co/khonkaen/posts/16072      750000    500000.0    750000.0
204  https://nayoo.co/khonkaen/posts/17093     2650000   2000000.0   2500000.0
206  https://nayoo.co/khonkaen/posts/17112     1300000   1500000.0   1500000.0
208  https://nayoo.co/khonkaen/posts/17145     3000000   2500000.0   2800000.0

[100 rows x 4 columns]

In [29]:
lt.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

#### MAPE

In [30]:
ac_l = lt['ราคาทรัพย์']
pr1_l = lt['ประเมิน1']
pr2_l = lt['ประเมิน2']

In [31]:
pred1_l = mape(ac_l, pr1_l)
pred2_l = mape(ac_l, pr2_l)
mape_l = mape(pr1_l,pr2_l)

In [32]:
print(f'ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ {pred1_l:.3f}\nค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ {pred2_l:.3f}\nค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ {mape_l:.3f}')

ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ 0.413
ค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ 0.401
ค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ 0.741

### Condo

In [33]:
condo= pd.read_excel('/content/gdrive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='คอนโด')
condo.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000.0,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000.0,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000.0,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [34]:
condo['ID ผู้ประเมิน'].value_counts()

1    10
Name: ID ผู้ประเมิน, dtype: int64

In [35]:
condo.rename(columns={'ประเมินราคาซื้อ-ขาย':'ประเมิน1'}, inplace=True)

In [36]:
ct = condo[['post id','ราคาทรัพย์','ประเมิน1']]
ct

   post id  ราคาทรัพย์   ประเมิน1
0     32.0   3500000.0  3500000.0
1     36.0   1930000.0  2200000.0
2    603.0   2438000.0  2800000.0
3   1395.0   1600000.0  2300000.0
4   1443.0   1860000.0  1800000.0
5   1609.0   1490000.0  1500000.0
6   1640.0   1280000.0  1600000.0
7   1641.0   4290000.0  2700000.0
8   1650.0   1700000.0  1550000.0
9   1840.0   3790000.0  2800000.0

#### MAPE

In [37]:
ac_c = ct['ราคาทรัพย์']
pr1_c = ct['ประเมิน1']
pred1_c = mape(ac_c,pr1_c)

In [38]:
print(f'ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ {pred1_c:.3f}')

ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ 0.173

###Townhome

In [39]:
townhome= pd.read_excel('/content/gdrive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม')
townhome.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN

In [40]:
townhome['ID ผู้ประเมิน'].value_counts()

1    120
2    120
Name: ID ผู้ประเมิน, dtype: int64

In [41]:
ass1_th = townhome[townhome['ID ผู้ประเมิน']==1]

In [42]:
ass2_th = townhome[townhome['ID ผู้ประเมิน']==2]

In [43]:
ass2_th['ประเมิน1'] = ass2_th['post id'].map(ass1_th.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-43-f0959c25ba7c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_th['ประเมิน1'] = ass2_th['post id'].map(ass1_th.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [44]:
ass2_th['ประเมิน2'] = ass2_th['post id'].map(ass2_th.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-44-d041727ea83f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_th['ประเมิน2'] = ass2_th['post id'].map(ass2_th.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [45]:
tht = ass2_th[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
tht

                                   post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1      https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3      https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5      https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7      https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9      https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0
..                                     ...         ...        ...        ...
235  https://nayoo.co/khonkaen/posts/18547   1430000.0  1000000.0  1200000.0
236  https://nayoo.co/khonkaen/posts/18551   1980000.0  1500000.0  1700000.0
237  https://nayoo.co/khonkaen/posts/19434   2000000.0  1600000.0  1900000.0
238  https://nayoo.co/khonkaen/posts/19501   1790000.0  1600000.0  1700000.0
239  https://nayoo.co/khonkaen/posts/20367   1590000.0  1700000.0  1700000.0

[120 rows x 4 columns]

In [46]:
tht.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

#### MAPE

In [47]:
ac_th = tht['ราคาทรัพย์']
pr1_th = tht['ประเมิน1']
pr2_th = tht['ประเมิน2']

In [48]:
pred1_th = mape(ac_th, pr1_th)
pred2_th = mape(ac_th, pr2_th)
mape_th = mape(pr1_th,pr2_th)

In [49]:
print(f'ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ {pred1_th:.3f}\nค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ {pred2_th:.3f}\nค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ {mape_th:.3f}')

ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ 0.114
ค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ 0.088
ค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ 0.112

### Shop house

In [50]:
shophouse= pd.read_excel('/content/gdrive/MyDrive/bsc_DPDM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์')
shophouse.head(3)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN

In [51]:
shophouse['ID ผู้ประเมิน'].value_counts()

1    10
2    10
Name: ID ผู้ประเมิน, dtype: int64

In [52]:
ass1_sh = shophouse[shophouse['ID ผู้ประเมิน']==1]

In [53]:
ass2_sh = shophouse[shophouse['ID ผู้ประเมิน']==2]

In [54]:
ass2_sh['ประเมิน1'] = ass2_sh['post id'].map(ass1_sh.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-54-76e2dbbf8a3d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_sh['ประเมิน1'] = ass2_sh['post id'].map(ass1_sh.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [55]:
ass2_sh['ประเมิน2'] = ass2_sh['post id'].map(ass2_sh.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-55-8d1096c3ce9a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ass2_sh['ประเมิน2'] = ass2_sh['post id'].map(ass2_sh.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [56]:
sht = ass2_sh[['post id','ราคาทรัพย์','ประเมิน1','ประเมิน2']]
sht

                                post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1     https://nayoo.co/khonkaen/posts/6   7000000.0   6000000.0   8000000.0
3    https://nayoo.co/khonkaen/posts/17  12000000.0  12000000.0  12000000.0
5    https://nayoo.co/khonkaen/posts/21  22500000.0  13500000.0  20000000.0
7    https://nayoo.co/khonkaen/posts/22   3500000.0   4000000.0   4000000.0
9    https://nayoo.co/khonkaen/posts/24   3900000.0   2200000.0   3000000.0
11   https://nayoo.co/khonkaen/posts/30   4800000.0   3600000.0   4000000.0
13   https://nayoo.co/khonkaen/posts/35   2400000.0   2500000.0   2100000.0
15  https://nayoo.co/khonkaen/posts/497   5000000.0   3800000.0   5000000.0
17  https://nayoo.co/khonkaen/posts/498   7000000.0   7000000.0   8000000.0
19  https://nayoo.co/khonkaen/posts/499   9000000.0   8000000.0  10000000.0

In [57]:
sht.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

#### MAPE

In [58]:
ac_sh = sht['ราคาทรัพย์']
pr1_sh = sht['ประเมิน1']
pr2_sh = sht['ประเมิน2']

In [59]:
pred1_sh = mape(ac_sh, pr1_sh)
pred2_sh = mape(ac_sh, pr2_sh)
mape_sh = mape(pr1_sh,pr2_sh)

In [60]:
print(f'ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ {pred1_sh:.3f}\nค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ {pred2_sh:.3f}\nค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ {mape_sh:.3f}')

ค่า MAPE ของผู้ประเมินคนที่ 1 เท่ากับ 0.176
ค่า MAPE ของผู้ประเมินคนที่ 2 เท่ากับ 0.117
ค่า MAPE ราคาตั้งขายของผู้ประเมินคนที่ 1 และ ผู้ประเมินคนที่ 2  เท่ากับ 0.216